html, body, .map-container{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;      
    display: flex;  
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

#viewDiv{
    flex: 1 0 auto;
    padding: 0;
    margin: 0;        
    width: 100%;
    align-items: flex-end;     
}

.page-header{
    -webkit-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    -o-flex: none;
    flex: none;
    margin: auto;
    margin: 0 !important;
}

.btn-holder{
    justify-content: center;
}

.header-btn{
    margin: 0 10px;        
}

.header-title{
    justify-content: center;
}

.button-container{
    align-items: center;
    justify-content: center;
}

.flex{
    display: flex;
}

.inactive{
    color: #d3d3d3 !important;
}

.leg{
    position: absolute; 
    bottom:0; 
    left:0; 
    width: 100%;
    display: none;
}